DATABASE_URI=mongodb://127.0.0.1/your-database-name
PAYLOAD_SECRET=YOUR_SECRET_HERE
MEDIA_S3_BUCKET=your-bucket
MEDIA_S3_REGION=your-region
MEDIA_S3_ACCESS_KEY_ID=your-access-key-id
MEDIA_S3_SECRET_ACCESS_KEY=your-secret-access-key
PUBLIC_MEDIA_BASE_URL=https://example-cdn-or-bucket-url
SERVER_URL=http://localhost:3000
LIVE_PREVIEW_BASE_URL=http://localhost:3000
